[Wallpaper]
Name=NovaOS Aurora
Name[ar]=نوفا أورورا
X-KDE-PluginInfo-Name=NovaOS
X-KDE-PluginInfo-Author=NovaOS Project
X-KDE-PluginInfo-License=CC-BY-SA-4.0
X-KDE-PluginInfo-Version=2026.01
X-KDE-PluginInfo-Website=https://github.com/salom600/osd
